.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.edit-icons {
  position: absolute;
  top: 0;
  right: 0;
}

.noteitem-card .card-body {
  padding-top: 20px;  
}

.icons-to-delete {
  color: red;
  cursor: pointer;  
}

.icons-to-edit {
  color: rgb(0, 153, 255);
  cursor: pointer;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width: 768px) {
  .container-fluid {
    padding: 0px 50px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding: 0px 100px;
  }
}

body[data-zoom="110%"] {
  background: red!important;
}
body[data-zoom="120%"] {
  background: yellow!important;
}